<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Edit Favorites</title>
  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/introHCI.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/jquery.ui.touch-punch.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>  
  
  <script>
  $(function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();

  	$('#sortable2').on('DOMNodeInserted', function(e) {
  		var list = $('#sortable2 .ui-state-default');
  		console.log(list.length);
  		list.each(function( index ) {
  			$( this ).addClass( "ui-state-highlight" );
  			$( this ).removeClass( "ui-state-default" );
  			$( this ).append( " <i class=\"glyphicon glyphicon-star\"></i>" );
		});
	});

	$('#sortable1').on('DOMNodeInserted', function(e) {
  		var list = $('#sortable1 .ui-state-highlight');
  		console.log(list.length);
  		list.each(function() {
  			$( this ).addClass( "ui-state-default" );
  			$( this ).removeClass( "ui-state-highlight" );
  			$( this ).children().last().remove();
		});
	});
  });

</script>

</head>
<body style = "margin: 40px;">
<div class = "container">
	<div style="width: 100% float: left; margin: 20px;"> 
		<a href="/categories" class="btn btn-info btn-lg btn-text"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
		<a href="/" class="btn btn-info btn-lg btn-text btn-home" ><i class="glyphicon glyphicon-home"></i> Home</a>  
	</div>

	<div style="width: 100% float left; text-align: center;
	vertical-align: middle; font-size: 48px; margin: 10px; margin-bottom: 15px;"> Edit Favorites: {{category}} </div>
  <div style="width: 100% float left; text-align: center;
  vertical-align: middle; font-size: 24px; margin: 10px; margin-bottom: 35px;"> Drag and Drop to Edit </div>
	

  <div style="width: 45%; float:left;"> 

    <h2 style="width: 100%; float:left;">&nbsp; Available Venues</h2>
		<ul id="sortable1" class="connectedSortable">
		  {{#each unselected}}
		  <li class="ui-state-default"><span>::  </span>{{name}}</li>
		  {{/each}}
		</ul>
	</div>
	<div style="width: 45%; float:right;"> 
    <h2 style="width: 100%; float:left;">Favorites</h2>
		<ul id="sortable2" class="connectedSortable ">
		  {{#each favorites}}
		  <li class="ui-state-highlight">
		  	<span>::  </span>{{name}}<span>&nbsp;</span><i class="glyphicon glyphicon-star"></i>
		  </li>
		  {{/each}}
		</ul>
	</div>

  <form id="save-favorites-form" method = "post" action="/categories" style="width: 95%; float:left;">   
    <input type="hidden" id="faves_list" style="width: 95%; float:right;" name="faves_list">
    <input type="hidden" id="category_input" style="width: 95%; float:right;" name="category" value="{{category}}">
    <hr/>
    <button type="submit" id="faves_save" class="btn btn-info btn-text" style="float:right;"><i class="glyphicon glyphicon-floppy-saved"></i> Save</button>    
  </form>
</div>
 
 
</body>
</html>