<!DOCTYPE HTML>
<html>
<head>

<body>

	<h1>My Favorites</h1>
	<ul id="sortable4" class="connected sortable list">
		<li><span class="handle">&#10998;  </span>Item 1
		<li><span class="handle">&#10998;  </span>Item 2
		<li><span class="handle">&#10998;  </span>Item 3
		<li><span class="handle">&#10998;  </span>Item 4
		<li><span class="handle">&#10998;  </span>Item 5
		<li><span class="handle">&#10998;  </span>Item 6
	</ul>
	<ul id="sortable5" class="connected sortable list">
		<li class="highlight"><span class="handle">&#10998;  </span>Item 1
		<li class="highlight"><span class="handle">&#10998;  </span>Item 2
		<li class="highlight"><span class="handle">&#10998;  </span>Item 3
		<li class="highlight"><span class="handle">&#10998;  </span>Item 4
		<li class="highlight"><span class="handle">&#10998;  </span>Item 5
		<li class="highlight"><span class="handle">&#10998;  </span>Item 6
	</ul>


	<style>
		#demos section {
			overflow: hidden;
		}
		.sortable {
			width: 310px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.sortable.grid {
			overflow: hidden;
		}
		.sortable li {
			list-style: none;
			border: 1px solid #CCC;
			background: #F6F6F6;
			color: #1C94C4;
			margin: 5px;
			padding: 5px;
			height: 22px;
		}
		.sortable.grid li {
			line-height: 80px;
			float: left;
			width: 80px;
			height: 80px;
			text-align: center;
		}
		.handle {
			cursor: move;
		}
		.sortable.connected {
			width: 200px;
			min-height: 100px;
			float: left;
		}
		li.disabled {
			opacity: 0.5;
		}
		li.highlight {
			background: #FEE25F;
		}
		li.sortable-placeholder {
			border: 1px dashed #CCC;
			background: none;
		}
	</style>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.sortable.min.js"></script>
    <script>
	
		$('#sortable-with-handles').sortable({
				handle: '.handle'
			});
		$('#sortable4, #sortable5').sortable({
			connectWith: '.connected'
		});
	
	</script>
</body>
</html>
