.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

html, body {
     margin: 0;   
 }

  #sortable1, #sortable2 { list-style-type: none; margin: 0; 
     padding: 0 0 5px; float: left; margin-right: 20px;
     border: 5px solid black; width: 100%; }
  #sortable2 {float: right;}
  #sortable1 li, #sortable2 li { margin: 10px 5px 5px 10px; padding: 15px; font-size: 32px; 
     float: left; width: 95%; }

.btn-text {
     font-size: 36px;
     margin: 5px;
}

#home-alerts {
    width: 60%;
}

#home-alerts .alert {
    margin: 25px;
    height: 200px;
    text-align: center;
    vertical-align: center;
}

#home-alerts .alert h2 {
    margin-top: 50px;
}

.btn-home {
    float:right;
}

