.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

html, body {
     margin: 0;   
 }

  #sortable1, #sortable2 { list-style-type: none; margin: 0; 
     padding: 0 0 5px; float: left; margin-right: 20px;
     border: 5px solid black; width: 100%; min-height: 90px; }
  #sortable2 {float: right;}
  #sortable1 li, #sortable2 li { margin: 10px 5px 5px 10px; padding: 10px; font-size: 28px; 
     float: left; width: 95%; }

.btn-text {
     font-size: 36px;
     margin: 5px;
}


#home-alerts {
    width: 80%;
    text-align: center;
}

#home-alerts .alert {
    margin: 20px;
    height: 275px;
    width: 80%;

    text-align: center;
    vertical-align: center;

}

#home-alerts .venue-alert {
    /* for venue page */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    height: 175px;
    width: 80%;
    text-align: center;
    vertical-align: center;        
}

#home-alerts .alert-venue {
    margin-top: 15px;
    font-size: 60px;   
}

#home-alerts .alert-subtitle {
    margin-top: 15px;
    font-size: 40px;
}

#home-alerts .alert-venue-subtitle {
    margin-top: 20px;
    font-size: 40px;
}

#home-alerts .alert-timestamp {
    margin-top: 5px;
    font-size: 30px;
}

.btn-home {
    float:right;
}

.alert-resolved {
    margin-bottom: 35px;
}

p.italic {font-style:italic;}

.img {
    height: 200px;
    max-width: 275px;*/
}

.img-thumb {
    height: 150px;
    max-width: 200px;*/
}

