.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

html, body {
     margin: 0;   
 }

  #sortable1, #sortable2 { list-style-type: none; margin: 0; 
     padding: 0 0 5px; float: left; margin-right: 20px;
     border: 5px solid black; width: 100%; min-height: 100px; }
  #sortable2 {float: right;}
  #sortable1 li, #sortable2 li { margin: 10px 5px 5px 10px; padding: 15px; font-size: 32px; 
     float: left; width: 95%; }

.btn-text {
     font-size: 36px;
     margin: 5px;
}


#home-alerts {
    width: 80%;
    text-align: center;
}

#home-alerts .alert {
    margin: 25px;
    height: 200px;
    width: 80%;
    text-align: center;
    vertical-align: center;
        /*background-image: linear-gradient(to bottom,#A30505 0,#920202 100%);
        text-shadow: 0 -1px 0 #000000;
        border-color: #FFFFFF;
        How to change background color, this code turns it red*/
}

#home-alerts .venue-alert {
    /* for venue page */
    margin: 25px;
    height: 150px;
    width: 80%;
    text-align: center;
    vertical-align: center;
        
}

#home-alerts .alert-venue {
    margin-top: 25px;
    font-size: 40px;   
}

#home-alerts .alert-subtitle {
    margin-top: 15px;
    font-size: 25px;
}

#home-alerts .alert-venue-subtitle {
    margin-top: 20px;
    font-size: 28px;
}

#home-alerts .alert-timestamp {
    margin-top: 15px;
    font-size: 18px;
}

.btn-home {
    float:right;
}


.btn-yellow { 
    border-color: yellow; 
    background-color: yellow; 
    background-image: linear-gradient(to bottom, rgb(255,255,86) 0px, rgb(255,255,0) 100%);
    color: black;
}

.btn-yellow:hover {
    color: black;
}

p.italic {font-style:italic;}

.img {
    height: 125px;
}

/*.btn-info {
background-image: linear-gradient(to bottom,#FFFFFF 0,#000000 100%);
background-repeat: repeat-x;
border-color: #080809;
}
This code turns the light blue buttons some other color
*/


